<head>
	<title>Elige bien tu carro</title>
</head>
<template name="ApplicationLayout">
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId: '609168189233000',
			xfbml: true,
			version: 'v2.5'
		});
	};
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {
			return;
		}
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
{{> navbar}}
<div class="ui app container">
	{{> yield}}
</div>
</template>