<template name="carGrid">
<div class="column">
	<div class="ui fluid black card car-card">
		<div class="content">
			{{#if isNew}}
			<a class="ui green tag label right floated">Nuevo</a>
			{{/if}}
			<img class="ui avatar image" src="/images/mockupuser.jpg" /> <a href="/profile/{{carOwner._id}}"> {{carOwner.profile.name}} </a>
		</div>
		<div class="blurring dimmable image">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<a class="ui positive button" href="/car/{{_id}}">Ver Detalles de Carro</a>
					</div>
				</div>
			</div>
			<img src="/images/car.png">
		</div>
		<div class="content">
			<div class="header">{{carBrand.name}} {{model}}</div>
			<div class="meta">
				<a><strong>Precio: {{formatCurrency currency price}}</strong></a>
			</div>
			<div class="meta">
				<a><strong>Año: {{year}}</strong></a>
			</div>
			<div class="meta">
				<a><strong>Ciudad: {{carCity.name}}</strong></a>
			</div>
		</div>
		<div class="extra content">
			<span class="right floated">
				<i class="heart outline like icon"></i>
				{{views}} visitas
			</span>
			<i class="comments icon"></i>
			{{amountComments}} comentarios
		</div>
		{{#if currentUser}}
		{{#if isFavorite}}
		<div class="ui bottom red attached button unfavorite-car">
			<i class="star icon"></i>
			Remover de Favoritos
		</div>
		{{else}}
		<div class="ui bottom teal attached button favorite-car">
			<i class="star icon"></i>
			Agregar a Favoritos
		</div>
		{{/if}}
		{{/if}}
	</div>
</div>
</template>
