<template name="newCars">
<h1 class="ui header center aligned">{{amountCars}} carros nuevos </h1>
<div class="ui divider"></div>
<div class="ui grid">
	<div class="four wide column">
		<div class="column">
			<div class="ui vertical menu filter-menu-container">
				<div class="item center-text">
					<h3>Filtros</h3>
				</div>
				<div class="item">
					<div class="ui left pointing dropdown link item filter-dropdown">
						<span class="text">Marca</span>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item brand-filter-item">Todas</div>
							{{#each brands}}
							<div class="item brand-filter-item">{{name}} ({{amountCarsBrand}})</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ui left pointing dropdown link item filter-dropdown">
						<span class="text">Ciudad</span>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item city-filter-item">Todas</div>
							{{#each cities}}
							<div class="item city-filter-item">{{name}}</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="item">
					<div class="menu">
						<div class="item">
							<div class="ui input">
								<input type="text" {{b "value: initYear"}} placeholder="Año Inicial">
							</div>
						</div>
						<div class="item">
							<div class="ui input">
								<input type="text" {{b "value: finalYear"}} placeholder="Año Final">
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="menu">
						<div class="item">
							<div class="ui input">
								<input type="text" {{b "value: initPrice"}} placeholder="Precio Inicial">
							</div>
						</div>
						<div class="item">
							<div class="ui input">
								<input type="text" {{b "value: finalPrice"}} placeholder="Precio Final">
							</div>
						</div>
						<div class="item">
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="currency" value="$" {{b "group: currency"}}>
									<label>$</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="currency" value="Lps" {{b "group: currency"}}>
									<label>Lps</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item center-text">
					<div class="menu">
						<div class="item">
							<button class="ui fluid labeled icon primary button" {{b "click: filterCars"}}>
							<i class="search icon"></i>
							Buscar
							</button>
						</div>
						<div class="item">
							<button class="ui fluid labeled icon primary button" {{b "click: resetFilters"}}>
							<i class="search icon"></i>
							Limpiar Filtros
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide column">
		<div class="ui three column stackable grid home-container">
			{{#each cars}}
			{{> carGrid}}
			{{else}}
			<div class="ui text container no-cars-found">
				<div class="ui message">
					<h2 class="ui header center aligned">No se han encontrado carros nuevos</h2>
					<h2 class="ui header center aligned">Volver a <a href="/home">Inicio</a></h2>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
</template>
