<template name="register">
<div class="ui middle aligned center aligned grid">
	<div class="column register-new-account">
		<!-- <h2 class="ui image header">
		<img alt="Logo" src="assets/images/logo.png" class="image">
		<div class="content">
			Registrarse
		</div>
		</h2> -->
		<form class="ui large form">
			<div class="ui stacked segment">
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" data-bind="value: name" name="name" placeholder="Nombre">
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" data-bind="value: email" name="register-email" placeholder="Correo electrónico">
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" data-bind="value: password" name="register-password" placeholder="Contraseña">
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" data-bind="value: confirmation" name="confirmation" placeholder="Repetir Contraseña">
					</div>
				</div>
				<div class="ui fluid large submit positive button">Registrarse</div>
			</div>
			<div class="ui error message"></div>
		</form>
	</div>
</div>
</template>